
input, button{
  color: var(--primary_font);
  background-color: transparent;
  border: none;
}

input, input:required{
  width: 100%;
  margin: 10px;
  border-bottom: 1px solid var(--highlights);
  box-sizing: border-box;
}

label{
  margin: 5px 0;
}

// button{
//   margin-top: 20px;
//   padding: 0 20px;
// }

.custom_form{
  width: 30%;
  margin: auto;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--accent_bg);
  border-radius: 5px;
  // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  // clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  // clip-path: polygon(50% 0, 70% 10%, 90% 0, 100% 9%, 100% 100%, 0 100%, 0 0, 7% 9%, 21% 0, 36% 10%);

  a{
    color: var(--primary_font);
    text-decoration: none;
    text-align: center;
    padding: 30px;
  }

  span{
    margin-bottom: 20px;
  }

  input{
    @include custom_input;
    margin-left: 0;
    margin-right: 0;
    &:focus{
      border: 1px solid var(--highlights);
      border-radius: 10px;
    }
    &:focus:required:invalid{
      box-shadow: none;
      -webkit-box-shadow: none;
      outline: none;
      border: 1px solid var(--error);
      border-radius: 10px;
    }
  }
  
  .primary_button{
    padding: 20px;
    border: 1px solid var(--primary_font);
    border-radius: 5px;
  }

  
}

@media(max-width: 600px) {
  .custom_form{
    width: 50%;
  }
}


@media(max-width: 400px) {
  .custom_form{
    width: 70%;
  }
}