
:root{
    // --primary_bg: #3c5e69;
    // --primary_font: #faf1e7;
    // --secondary_bg: #222725;
    // --accent_bg: #161a18;
    // --message_bg: #e8711e;
    // --highlights: rgba(255, 255, 255, .4);
    // --shadows: rgba(0, 0, 0, .4);
    // --error: #e8711e;

    // --primary_bg: #012a16;
    // --primary_font: #faf1e7;
    // --secondary_bg: #091008a1;
    // --accent_bg: #091008;
    // --message_bg: #103724;
    // --highlights: rgba(255, 255, 255, .4);
    // --shadows: rgba(0, 0, 0, .4);
    // --error: #e8711e;

    --primary_bg: #181818;
    --primary_font: #faf1e7cc;
    --secondary_bg: #080808a1;
    --accent_bg: #131313;
    --message_bg: #222222;
    --message_bg_current: #111;
    --input_bg: #3030307c;
    --highlights: rgba(255, 255, 255, .4);
    --shadows: rgba(0, 0, 0, .4);
    --error: #dd0000;
  
}

@mixin vertical_align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin centered{
    @include vertical_align;
    height: 100%;
    margin: auto;
}

@mixin custom_input{
    background-color: var(--input_bg);
    margin: 15px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}