
:root{
    
    // --primary_bg: #3c5e69;
    // --primary_font: #faf1e7;
    // --secondary_bg: #222725;
    // --accent_bg: #161a18;
    // --message_bg: #e8711e;
    // --highlights: rgba(255, 255, 255, .4);
    // --shadows: rgba(0, 0, 0, .4);
    // --error: #e8711e;

    // --primary_bg: #012a16;
    // --primary_font: #faf1e7;
    // --secondary_bg: #091008a1;
    // --accent_bg: #091008;
    // --message_bg: #103724;
    // --highlights: rgba(255, 255, 255, .4);
    // --shadows: rgba(0, 0, 0, .4);
    // --error: #e8711e;

    --primary_bg: #181818;
    --primary_font: #faf1e7cc;
    --secondary_bg: #080808a1;
    --accent_bg: #131313;
    --message_bg: #222222;
    --message_bg_current: #111;
    --input_bg: #3030307c;
    --input_highlight: #343434;
    --highlights: rgba(255, 255, 255, .4);
    --shadows: rgba(0, 0, 0, .4);
    --error: #e43232;
    --switch_track_active: rgba(255, 255, 255, .7);
    --switch_track_inactive: rgba(255, 255, 255, .2);
  
}

[data-theme="light"]{
    --primary_bg: #f5f5f5;
    --primary_font: #020100;
    --secondary_bg: #edede6;
    --accent_bg: #e2e1dd;
    --message_bg: #dfdccf;
    --message_bg_current: #dee0df;
    --input_bg: #30303030;
    --highlights: #30303030;
    --switch_track_active: #303030ab;
    --switch_track_inactive: #30303031;
}

body, button, input{
    // font-family: 'Raleway', sans-serif;
    font-family: 'Assistant', sans-serif;
}

@mixin vertical_align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin centered{
    @include vertical_align;
    height: 100%;
    margin: auto;
}

@mixin custom_input{
    background-color: var(--input_bg);
    margin: 15px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    &:focus{
        background-color: var(--input_highlight);
    }
    &:focus-visible{
        outline-color: var(--input_highlight);
    }
}