
@import "./predefined";
@import "../components/userDetails/userDetails";
@import "../components/sidePanel/sidePanel";
@import "../components/chatWindow/_chatWindow";
@import "../components/common/common";
@import "../components/infoPanel/infoPanel";


.App {
  height: 100vh;
  background-color: var(--primary_bg);
  color: var(--primary_font);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

a{
  color: var(--primary_font);
}

input[type="file"]{
  display: none;
}

button, label{
  margin: 0;
  padding: 0 20px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.centered, .message_input label, img, .attachment > svg{
  @include centered;
}


.side_panel, .info_panel{
  width: 30%;
  background-color: var(--secondary_bg);
}


.chat_window, .message_list, .chat_list{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}


// scrollbars

* {
  scrollbar-width: thin;
  scrollbar-color: var(--highlights) var(--primary_bg);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary_bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--highlights);
  border-radius: 20px;
  border: none;
}